@use 'abstracts/mixins' as m;
@use 'abstracts/variables' as v;

/* *************************************** */
/* Media Stlye */
/* *************************************** */
/* Extra Large 2300px to ~ */
@media only screen and (min-width: 2300px) {
  html {
    font-size: 70%;
  }

  .heading-primary {
    font-size: 9rem;
  }

  .heading-secondary {
    font-size: 7rem;
  }

  .paragraph {
    font-size: 3rem;

    &--about {
      width: 90%;
    }

    &--contact {
      font-size: 3.5rem;
    }
  }

  .btn {
    font-size: 3.2rem;
  }

  .nav__link {
    font-size: 4rem;
  }

  .hero-box__intro {
    font-size: 5.7rem;
  }

  .skill-list {
    font-size: 3.2rem;
  }

  .projects {
    margin-top: 7rem;
  }

  .project {
    &__sort {
      font-size: 4rem;
    }

    &__title {
      font-size: 6rem;
    }

    &__intro,
    &__outro {
      font-size: 3.5rem;
    }
  }

  .learning-list {
    font-size: 3.2rem;
  }

  .contact-form {
    font-size: 3rem;
    margin-top: 7rem;

    &__label {
      top: -3rem;
      font-size: 3rem;
    }

    &__input {
      font-size: 3rem;
    }
  }
}

/* Default range */

/* Large laptop to Desktop: 1324px ~ 1728px */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 58%;
  }

  .paragraph {
    font-size: 2.4rem;

    &--about {
      width: 90%;
    }
  }

  .nav__link {
    font-size: 3rem;
  }

  .project {
    margin-bottom: 18rem;
  }
}

/* Large Tablet to Laptop: 848px ~ 1323px */
@media only screen and (max-width: 1323px) {
  html {
    font-size: 54%;
  }

  .project {
    margin-bottom: 23rem;
  }

  .project__intro {
    width: 65%;
    font-size: 2.4rem;
    padding: 1.2rem;
  }
}

/* Large Phone to Tablet: 403px ~ 847px */
@media only screen and (max-width: 847px) {
  html {
    font-size: 50%;
  }

  .hamburger {
    display: block;
  }

  .nav__list--menu {
    display: none;
  }

  .nav__list--menu--clicked {
    display: flex;
    text-align: right;
    position: absolute;
    top: 12vh;
    right: 10%;
    flex-direction: column;
    background-color: rgba(v.$color-grey-dark, 0.7);
    padding: 1.5rem;
  }

  .header {
    padding: 12vh 7% 0;
  }

  .section-about,
  .section-project,
  .section-contact {
    padding: 7%;
  }

  .section-about__container {
    flex-direction: column-reverse;
  }

  .section-about__img {
    width: 60%;
    margin-top: 3rem;
  }

  .section-about__text {
    margin-top: 3rem;
    font-size: 3.5rem;
  }

  .paragraph--about {
    font-size: 2.7rem;
  }

  .project {
    display: block;
    margin-bottom: 47rem;

    &:nth-of-type(odd) {
      .project__img-box {
        margin-left: auto;
      }
    }

    &__img-box {
      width: 70%;
      display: block;
      margin-bottom: 1rem;
    }

    &__intro {
      width: 90%;
    }
  }

  // .project:not(:last-of-type) {
  //   margin-bottom: 47rem;
  // }

  .learning-list {
    @include m.list-style(repeat(2, minmax(10rem, 50%)), 2.2rem);
  }

  .paragraph--contact {
    width: 100%;
  }

  .btn--contact {
    width: 40%;
  }
}

/* Extra small phone to Phone: 0px ~ 402px*/
@media only screen and (max-width: 402px) {
  html {
    font-size: 45%;
  }

  .header {
    padding: 12vh 5% 0;
  }

  .section-about,
  .section-project,
  .section-contact {
    padding: 5%;
  }

  .heading-primary {
    font-size: 6rem;
  }

  .section-about__img {
    width: 100%;
  }

  .paragraph--about {
    width: 100%;
  }

  .project {
    margin-bottom: 52rem;

    &__img-box {
      width: 85%;
    }

    &__intro {
      width: 100%;
    }
  }

  .contact-form__info {
    flex-direction: column;
  }

  .btn--contact {
    width: 60%;
  }
}

/* *************************************** */
/* Img Responsive Stlye */
/* *************************************** */
@media only screen and (min-resolution: 192dpi) and (min-width: 500px),
  (min-width: 1000px) {
  .header {
    @include m.bg-style('../img/compressed/bg.jpg');
  }

  // .section-features {
  //   @include m.bg-style('../img/compressed/nat-4-large.jpg');
  // }

  // .card {
  //   &__img {
  //     &--orange {
  //       @include m.bg-style(
  //         '../img/compressed/nat-5-large.jpg',
  //         v.$color-orange-light,
  //         v.$color-orange-dark
  //       );
  //     }

  //     &--green {
  //       @include m.bg-style('../img/compressed/nat-6-large.jpg');
  //     }

  //     &--blue {
  //       @include m.bg-style(
  //         '../img/compressed/nat-7-large.jpg',
  //         v.$color-blue-light,
  //         v.$color-blue-dark
  //       );
  //     }
  //   }
  // }

  // .contact-box {
  //   @include m.bg-style(
  //     '../img/compressed/nat-10-large.jpg',
  //     v.$color-white,
  //     v.$color-white,
  //     $opacity-1: 0.8,
  //     $opacity-2: 0,
  //     $direction: 100deg,
  //     $stop-1: 48%,
  //     $stop-2: 48%
  //   );
  // }
}
