*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: #00d7bb;
}

::selection {
  background-color: #00d7bb;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem "Roboto Condensed", sans-serif;
  color: #fff;
}

.heading-primary {
  font-size: 7rem;
}
.heading-primary--sub {
  color: #ddd;
}

.heading-secondary {
  font-size: 5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#2fe7ce), to(#00b19a));
  background-image: linear-gradient(90deg, #2fe7ce, #00b19a);
}

.paragraph {
  font-size: 2.2rem;
}
.paragraph--about {
  width: 80%;
  margin-top: 2rem;
}

.btn {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  display: inline-block;
  background-color: #22252c;
  padding: 2.5rem 3rem;
  font-size: 2.1rem;
  text-transform: capitalize;
  transition: 0.2s linear;
  border-radius: 3px;
}
.btn--about {
  margin-top: 3rem;
}
.btn--about:hover {
  color: #2fe7ce;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: capitalize;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  background: -webkit-gradient(linear, right top, left top, from(rgba(47, 231, 206, 0)), to(rgba(0, 177, 154, 0))), url("") center/cover;
  background: linear-gradient(to left, rgba(47, 231, 206, 0) 0%, rgba(0, 177, 154, 0) 100%), url("") center/cover;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 2.4rem;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border-bottom: solid 2px transparent;
  padding-bottom: 2px;
}
.nav__link:hover {
  color: #e7e7e7;
  border-bottom-color: #22252c;
}
.nav--bar {
  background: -webkit-gradient(linear, right top, left top, from(rgba(47, 231, 206, 0.8)), to(rgba(0, 177, 154, 0.8))), url("") center/cover;
  background: linear-gradient(to left, rgba(47, 231, 206, 0.8) 0%, rgba(0, 177, 154, 0.8) 100%), url("") center/cover;
}

.header {
  height: 100vh;
  padding: 12vh 10% 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(47, 231, 206, 0.8)), to(rgba(0, 177, 154, 0.8))), url("../img/bg.jpg") center/cover;
  background: linear-gradient(to left, rgba(47, 231, 206, 0.8) 0%, rgba(0, 177, 154, 0.8) 100%), url("../img/bg.jpg") center/cover;
}

.hero-box {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero-box__intro {
  font-size: 2.7rem;
}

.section-about {
  background-color: #22252c;
  padding: 10%;
}
.section-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.section-about__img {
  position: relative;
  z-index: 1;
  width: 30rem;
  height: 40rem;
}
.section-about__img::after {
  content: "";
  border: 8px solid #00d7bb;
  position: absolute;
  z-index: -1;
  top: 3rem;
  right: 3rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 30rem;
  height: 40rem;
}
.section-about__img::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgba(0, 215, 187, 0.6);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 30rem;
  height: 40rem;
}
.section-about__img:hover::after {
  top: 2rem;
  right: 2rem;
}
.section-about__img:hover::before {
  background-color: transparent;
}
.section-about__profile {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30rem;
  height: 40rem;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(14rem, 20rem));
  gap: 1rem 3rem;
  list-style: none;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.skill-list__icon {
  font-size: 1.2rem;
  color: #00d7bb;
  margin-right: 1rem;
  vertical-align: middle;
}