*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #00d7bb;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.6rem "Roboto Condensed", sans-serif;
  color: #eee;
}

.heading-primary {
  font-size: 7rem;
}
.heading-primary--sub {
  color: #ddd;
}

.heading-secondary {
  font-size: 5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #2fe7ce, #00b19a);
}

.paragraph {
  font-size: 2.2rem;
}
.paragraph--about {
  width: 80%;
  margin-top: 2rem;
}

.btn {
  color: #eee;
  text-decoration: none;
  transition: 0.2s linear;
  display: inline-block;
  background-color: #22252c;
  padding: 2.5rem 3rem;
  font-size: 2.1rem;
  text-transform: capitalize;
  transition: 0.2s linear;
  border-radius: 3px;
}
.btn--about {
  margin-top: 3rem;
}
.btn--about:hover {
  color: #2fe7ce;
}

.nav {
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: capitalize;
  transition: 0.5s linear;
  background: linear-gradient(to left, rgba(47, 231, 206, 0) 0%, rgba(0, 177, 154, 0) 100%), url("") center/cover;
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 2.4rem;
}
.nav__link {
  color: #eee;
  text-decoration: none;
  transition: 0.2s linear;
  border-bottom: solid 2px transparent;
  padding-bottom: 2px;
}
.nav__link:hover {
  color: #e7e7e7;
  border-bottom-color: #22252c;
}
.nav--bar {
  background: linear-gradient(to left, rgba(47, 231, 206, 0.8) 0%, rgba(0, 177, 154, 0.8) 100%), url("") center/cover;
}

.header {
  height: 100vh;
  padding: 12vh 10% 0;
  background: linear-gradient(to left, rgba(47, 231, 206, 0.8) 0%, rgba(0, 177, 154, 0.8) 100%), url("../img/bg.jpg") center/cover;
}

.hero-box {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.hero-box__intro {
  font-size: 2.7rem;
}

.section-about {
  background-color: #313741;
  padding: 10%;
}
.section-about__container {
  display: flex;
  justify-content: center;
}
.section-about__text {
  flex: 1 1 60%;
}
.section-about__img {
  flex: 1 1 35%;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.section-about__img::after {
  content: "";
  border: 8px solid #00d7bb;
  position: absolute;
  z-index: -1;
  top: 3rem;
  right: 3rem;
  transition: 0.3s linear;
  width: 100%;
  height: 100%;
}
.section-about__img::before {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 215, 187, 0.6);
  transition: 0.3s linear;
}
.section-about__img:hover::after {
  top: 2rem;
  right: 2rem;
}
.section-about__img:hover::before {
  background-color: transparent;
}
.section-about__profile {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(14rem, 20rem));
  gap: 1rem 3rem;
  list-style: none;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.skill-list__icon {
  font-size: 1.2rem;
  color: #00d7bb;
  margin-right: 1rem;
  vertical-align: middle;
}

.section-project {
  background-color: #22252c;
  padding: 10%;
}

.projects {
  justify-content: center;
  margin-top: 5rem;
}

.project {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12rem;
}
.project:nth-of-type(even) {
  flex-direction: row-reverse;
}
.project:nth-of-type(even) .project__text {
  text-align: left;
}
.project:nth-of-type(even) .project__intro {
  margin: 2rem auto 0 0;
}
.project:nth-of-type(even) .learning-list {
  justify-content: start;
}
.project__img-box {
  position: relative;
  width: 50%;
}
.project__img-box::before {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 215, 187, 0.6);
  transition: 0.3s linear;
}
.project__img-box:hover::before {
  background-color: transparent;
}
.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__text {
  position: absolute;
  flex: 1 1 50%;
  text-align: right;
}
.project__sort {
  font-size: 2.5rem;
  color: #00d7bb;
  text-transform: capitalize;
}
.project__title {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: #eee;
  text-decoration: none;
  transition: 0.2s linear;
}
.project__title:hover {
  color: #00d7bb;
}
.project__intro {
  position: relative;
  width: 60%;
  margin: 2rem 0 0 auto;
  font-size: 2.8rem;
  background-color: #434851;
  padding: 2rem;
  z-index: 3;
}
.project__outro {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.learning-list {
  justify-content: end;
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 30rem));
  gap: 1rem 3rem;
  list-style: none;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.learning-icon {
  font-size: 1.2rem;
  color: #00d7bb;
  margin-right: 1rem;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
