// *******************************************
// Color
// *******************************************
$color-white: #eee;
$color-grey-light: #ccc;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light: #333;
$color-black: #111;

$color-primary-light: #77ffdf;
$color-primary: #64ffda;
$color-primary-dark: #2cdfb5;

// *******************************************
// Length
// *******************************************
$padding-section: 10%;
