// *******************************************
// Color
// *******************************************
$color-white: #fff;
$color-white-dark: #e7e7e7;
$color-grey-light: #ddd;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light: #22252c;
$color-black: #111;

$color-primary-light: #2fe7ce;
$color-primary: #00d7bb;
$color-primary-dark: #00b19a;

// *******************************************
// Length
// *******************************************
$padding-section: 10%;
