// *******************************************
// Color
// *******************************************
$color-white: #eee;
$color-white-dark: #e7e7e7;
$color-grey-light: #ddd;
$color-grey: #888;
$color-grey-dark: #777;
$color-black-light-3: #434851;
$color-black-light-2: #313741;
$color-black-light: #22252c;
$color-black: #111;

$color-red: rgb(255, 37, 37);

$color-primary-light: #0ef19e;
$color-primary: #18e6b5;
$color-primary-dark: #27cea7;

// *******************************************
// Length
// *******************************************
$padding-section: 10%;
